
@{
    ViewBag.Title = "_patientLayout";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="index.html"><img src="~/Content/images/logo1.png"></a>

        <div class="container">
            @Html.ActionLink("Patient Dashboard", "Patient_Dashboard", "Patient", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Find a Doctor", "Find_a_doctor", "Patient", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Patient Profile", "patient_profile", "Patient", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Create Payment", "choosepayment", "Payment", new { area = "" }, new { @class = "nav-link" })</li>

                </ul>
                <ul class="nav navbar-nav ms-auto">
                    <li>@Html.ActionLink("Login", "login", "Patient", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Registration", "registration", "Patient", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>

        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

